@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

/* Main */

:root{
    --background: rgb(189, 209, 197);
    --background-trans: rgba(189, 209, 197, 0.75);
    --text: rgb(102, 119, 125);
    --dark-text: rgb(55, 71, 76);
    --dark-text-trans: rgba(55, 71, 76, 0.75);
    --accent: rgb(154, 179, 181);
    --accent-trans: rgba(154, 179, 181, 0.5);
    --font-text: 'Fragment Mono', monospace;
    --nav-height: 66px;
    --home-width: 85%;
    --transition: 350ms ease-out;
    --ham-width: 25px;
    --ham-height: 2px;
    --ham-gap: -6px;
    --app-height: 100%;
    --word-count: 30;
}

[current-theme = "dark"]{
    --background: rgb(102, 119, 125);
    --background-trans: rgba(102, 119, 125, 0.75);
    --text: rgb(189, 209, 197);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    color: var(--text);
    background-color: var(--background);
    font-family: var(--font-text);
    line-height: 1.5;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

p{
    color: var(--text);
    margin: 0 0 1rem 0;
}

h1{
    font-weight: normal;
}

h3{
    color: var(--dark-text);
}

button{
    border: none;
}

body, label, button, a, input, textarea{
    cursor: none !important;
}

/* Cursor */
.cursor, .cursorOuter{
    display: none;
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.cursor{
    z-index: 9999;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0 0.25px var(--text);
    background: var(--dark-text);
}

.cursorOuter{
    z-index: 9998;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 1px var(--text);
    backdrop-filter: blur(0.5px);
}

/* Header */
html[nav-expanded="true"],
body[nav-expanded="true"]{
    overflow: hidden !important;
}  

.header-main{
    width: 100%;
    background-color: var(--background-trans);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 99;
    transition: var(--transition);
}

.header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    padding: 8px 24px;
}

.header-logo path{
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
}

.header-menu-container{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-ham-container{
    display: none;
    z-index: 999;
}

.header-menu-button{
    display: none;
    height: 25px;
    width: 25px;
    border: 0; 
    background: transparent;
}

.header-ham{
    display: inline-block;
    position: relative;
    width: var(--ham-width);
    height: 24px;
}

.header-ham-middle::before,
.header-ham-middle::after,
.header-ham-middle{
    position: absolute;
    content: "";
    right: 0px;
    rotate: 360deg;
    width: var(--ham-width);
    height: var(--ham-height);
    background-color: var(--text);
    border-radius: 1px;
    transform-origin: center;
}

.header-ham-middle::before{
    top: var(--ham-gap);
    transition: 
    top var(--transition) 350ms,
    rotate var(--transition),
    background-color var(--transition) 350ms;
}

.header-ham-middle{
    top: 50%;
    transition: width 0s ease-out 350ms;
}

.header-ham-middle::after{
    bottom: var(--ham-gap);
    transition: 
    bottom var(--transition) 350ms,
    rotate var(--transition),
    background-color var(--transition) 350ms;
}


.header-menu-button[nav-expanded="true"] .header-ham-middle::before{
    top: 0;
    width: var(--ham-width);
    rotate: 45deg;
    background-color: var(--background);
    transition: 
    top var(--transition), 
    rotate var(--transition) 350ms,
    background-color var(--transition) 350ms;
}

.header-menu-button[nav-expanded="true"] .header-ham-middle{
    width: 0;
}

.header-menu-button[nav-expanded="true"] .header-ham-middle::after{
    bottom: 0;
    width: var(--ham-width);
    rotate: -45deg;
    background-color: var(--background);
    transition: 
    bottom var(--transition), 
    rotate var(--transition) 350ms,
    background-color var(--transition) 350ms;
}

.header-list{
    position: relative;
    display: flex;
    align-items: center;
}

.header-links{
    display: flex;
}

.header-link, .resume-button{
    position: relative;
    margin: 0 20px;
    letter-spacing: 1px;
    color: var(--text);
    text-transform: uppercase;
}

.header-link:hover, .activeTab{
    color: var(--dark-text) !important;
    transition: var(--transition);
}

.header-link:hover::after, .activeTab::after{
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    width: 0;
    border-bottom: 1.5px solid var(--dark-text);
    animation: underline 650ms linear forwards;
}

@keyframes underline {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.resume-button{
    border: 2.5px solid;
    border-radius: 5px;
    padding: 8px 16px;
}

.resume-button:hover{
    color: var(--background);
    border: 2.5px solid var(--text);
    box-shadow: inset 6.5em 0 0 0 var(--text);
    transition: var(--transition);
}

.header-hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    transition: var(--transition);
}

.theme-button{
    color: var(--text);
    height: 27.45px;
    background: transparent;
    display: flex;
    align-items: center;
}

.theme-button:hover{
    color: var(--dark-text);
}

/* Preloader */
.preloader{
    width: 100vw;
    height: 100vh;
    height: 100svh;
    background-color: var(--text);
    overflow: hidden;
    animation: 600ms hide linear;
    animation-delay: 2500ms;
}

@keyframes hide {
    100%{
        opacity: 0;
    }
}

.hide{
    display: none;
    opacity: 0;
}

.preload-logo{
    width: 200px;
    height: 100%;
}

.preload-logo path{
    stroke: var(--background) ;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform-origin: center;
}

#logo-s{
    animation: draw 1.25s forwards, 
    800ms rotate 2200ms ease-in-out;
}

#logo-y{
    animation: draw 1s 1.25s forwards, 
    800ms rotate 2200ms ease-in-out;
}

@keyframes draw {
    100% {
        stroke-dasharray: 120;
        stroke-dashoffset: 0;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        scale: 0%;
        opacity: 0;
    }
}


/* Main */
section{
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
    justify-content: center;
}

.home-container{
    width: var(--home-width);
    min-height: 50vh;
    opacity: 0;
    transform: translateY(50px);
}

.welcome-container{
    width: 100%;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: center;
}

.welcome-heading{
    font-size: clamp(1.5rem, 1vw, 3rem);
    margin: 16px 0;
}

.welcome-heading-container{
    display: grid;
    grid-template-columns: auto auto;
}

.welcome-heading-title{
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1.5px;
    animation: blinking 1000ms infinite;
}

@keyframes blinking {
   50%{
        border-right-color: transparent;
    }
  }

  .type{
    width: 0;
    animation: type 2000ms steps(var(--word-count)) forwards;
  }
  
@keyframes type {
    100%{
        width: 100%;
    }
}

.untype{
width: 100%;
animation: untype 2000ms steps(var(--word-count)) forwards;
}

@keyframes untype {
100%{
    width: 0;
}
}

.color-block-container ul{
    display: flex;
    flex-direction: row;
}

.color-block{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    border-radius: 5%;
    box-shadow: 0 0 2px var(--dark-text);
}

.color-block:nth-child(1){
    background-color: var(--background);
    margin-left: 0;
}

.color-block:nth-child(2){
    background-color: var(--text);
}

.color-block:nth-child(3){
    background-color: var(--accent);
}

.color-block:nth-child(4){
    background-color: var(--dark-text-trans);
}

.color-block:nth-child(5){
    background-color: var(--dark-text);
}

.scroll-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    display: flex;
    flex-direction: column;
    animation: bounce 1500ms ease-in-out infinite;
}

.scroll-container span{
    margin-bottom: -10px;
}

.scroll-container svg{
    margin: auto;
}

@keyframes bounce {
    50%{
        transform: translateX(-50%) translateY(10px);
    }
}

#about, #experience, #work, #contact{
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
}

.heading{
    position: relative;
}

.heading::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 2.5px;
    background: var(--dark-text);
    inset: auto 0 0 0;
    margin: auto;
}

.about-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
}

.about-main{
    text-align: left;
    letter-spacing: 1px;
}

.about-skills-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));;
    padding: 0px;
}

.about-skills-list li{
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 10px;
}

.about-skills-list li::before{
    position: absolute;
    content: "⫸";
    color: var(--dark-text);
    left: 0px;
}

.about-pic{
    margin: auto;
}

.about-pic img{
    width: clamp(250px, 50vw, 350px);
    border-radius: 50%;
    background-color: var(--dark-text-trans);
    box-shadow: 0 0 10px var(--dark-text);
    display: flex;
    margin: auto;
}

.experience-main{
    max-width: 1000px;
    width: 100%;
}

.experience-tab {
    overflow: hidden;
    background-color: var(--dark-text-trans);
    box-shadow: 0 1px 10px var(--dark-text);
  }

.experience-tab button {
    background-color: transparent;
    color: var(--background);
    font-size: 1.2rem;
    float: left;
    outline: none;
    padding: 14px 16px;
    transition: var(--transition);
}

.experience-tab button.active {
    color: var(--accent);
    background-color: var(--dark-text);
}

.experience-tabcontent {
    margin-top: 10px;
    padding: 6px 12px;
    text-align: left;
    letter-spacing: 1px;
}

.experience-tabcontent p{
    color: var(--dark-text-trans);
}

.experience-tabcontent ul{
    padding: 0px;
}

.experience-tabcontent ul li{
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 15px;
}

.experience-tabcontent ul li::before{
    position: absolute;
    content: "⫸";
    color: var(--dark-text);
    left: 0px;
}

.work-list{
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.work-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-item a{
    position: relative;
}

.work-item:hover img{
    transform: scale(100%);
}

.work-item img{
    display: block;
    max-width: 100%;
    border-radius: 0.6rem;
    transform: scale(90%);
    transition: var(--transition);
}

.work-description{
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7.5%;
    border-radius: 0.5rem;
    position: absolute;
    backdrop-filter: blur(2.5px);
    
    color: var(--accent);
    background-color: var(--dark-text-trans);
}

.work-description p{
    color: var(--accent);
}

.work-title{
    align-self: flex-start;
}

.work-skills{
    display: inline-flex;
    gap: 1rem;
    align-self: flex-end;
}

#contact{
    max-width: 750px;
}

.contact-main{
    margin-bottom: 10vh 0;
    background-color: var(--dark-text-trans);
    box-sizing: content-box;
    box-shadow: 0 1px 10px var(--dark-text);
    transform-origin: center center;
}

.contact-form-open{
    background-color: var(--dark-text-trans);
    color: var(--accent);
    font-size: clamp(1.25rem, 1vw, 2.5rem);
    padding: 16px 16px;
    transition: var(--transition);
}

.contact-form-open:hover{
    box-shadow: inset 0 0 0 2.5px var(--accent);
}

.contact-form{
    width: clamp(350px,50vw,750px);
    max-height: 1500px;
    padding: 1.75rem;
}

.contact-form-content{
    display: flex;
    flex-direction: column;
}

.contact-form-label{
    text-align: left;
    color: var(--accent);
}

.contact-form-input{
    color: var(--dark-text);
    background-color: var(--background);
    border: none;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--dark-text-trans);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--dark-text-trans);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--dark-text-trans);
}

.contact-form-input:focus{
    outline: none !important;
    box-shadow: inset 0 0 0 3px var(--dark-text);
    -webkit-appearance: none;
}

textarea{
    resize: none;
}

.contact-submit-button{
    width: 100%;
    background-color: var(--background);
    color: var(--dark-text);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0rem;
    border-radius: 5px;
}

.contact-submit-button:hover{
    box-shadow: inset 0 0 0 3px var(--dark-text);
}

.contact-alert{
    padding: 0 1rem 1.5rem;
}

.contact-alert p, .contact-alert h1{
    color: var(--accent);
}

.contact-name{
    text-transform: uppercase;
    font-style: italic;
}

.contact-alert-button{
    background-color: var(--accent);
    color: var(--dark-text-trans);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    border-radius: 5px;
}

.contact-alert-button:hover{
    box-shadow: inset 0 0 0 3px var(--dark-text);
    color: var(--dark-text);
}

/* Footer */
.footer-container{
    width: 95vw;
    margin: auto;
}

.upper-footer{
    display: flex;
    justify-content: center;
}

.social{
    position: relative;
}

.social::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 2.5px;
    background: var(--text);
    inset: auto 0 0 0;
    margin: auto;
}

.social a{
    margin-right: 8px;
}

.social a g{
    transform-origin: center;
    transform: scale(0.75);
}

.social a g path, .social a g rect, .social a g circle{
    stroke: var(--text);
    fill: var(--background);
    stroke-width: 1.25;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    transition: var(--transition);
}

.social a svg:hover g path, .social a svg:hover g rect, .social a svg:hover g circle{
    transform: translateY(-5px);
    stroke: var(--dark-text);
}

.lower-footer{
    padding: 1rem;
    text-align: center;
    margin: auto;
}

.email{
    font-size: 0.75rem;
}

.lower-footer a:hover {
    color: var(--dark-text);
}

footer a{
    color: var(--text);
}

/* mobile view */
@media only screen and (max-width: 850px){
    .logo{
        width: 25vw;
    }

    .header-ham-container{
        display: flex;
    }

    .header-menu-button{
        display: flex;
    }

    .header-list{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: min(65vw, 400px);
        height: 100vh;
        height: 100dvh;
        background: var(--text);
        transform: translateX(100%);
        transition: var(--transition);
    }
    
    .header-list[nav-expanded="true"]{
        box-shadow: 0 1px 100px var(--dark-text);
        transform: translateX(0%);
    }
    
    #home[nav-expanded="true"]{
        filter: blur(5px);
        transition: var(--transition);
    }

    footer[nav-expanded="true"]{
        filter: blur(5px);
        transition: var(--transition);
    }

    .header-links{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 0px;
    }
    
    .header-link-item{
        margin: 0px auto 15px;
    }
    
    .header-links a{
        color: var(--background);
    }

    #resume:hover{
        border: 2.5px solid var(--dark-text);
    }

    .theme-button-container{
        position: absolute;
        inset: 8px 0 0 24px;
    }
    
    .theme-button{
        color: var(--background);
    }

    .welcome-heading-container{
        grid-template-columns: none;
    }

    .welcome-heading{
        font-size: clamp(1.25rem, 1vw, 2.5rem);
        margin: 16px 0;
    }

    .about-container{
        display: block;
    }

    .about-skills-list{
        grid-template-columns: repeat(2, minmax(130px, 200px));;
    }

    .about-pic img{
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 350px) {
    .contact-form{
        width: 80vw;
    }
    .contact-form-input, .contact-submit-button{
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 280px){
    .about-skills-list{
        grid-template-columns: repeat(1, minmax(130px, 200px));;
    }
}

@media screen and (max-height: 400px) {
    .welcome-heading{
        font-size: clamp(12px, 0.75vw, 25px);
        margin: 8px 0;
    }
}

/* scroll animation */
.scrolled{
    animation: scroll-up 2.5s forwards;
}

@keyframes scroll-up {
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}