@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

/* Main */

:root{
    --background: rgb(189, 209, 197);
    --background-trans: rgba(189, 209, 197, 0.75);
    --text: rgb(102, 119, 125);
    --text-trans: rgba(102, 119, 125, 0.75);
    --dark-text: rgb(55, 71, 76);
    --dark-text-trans: rgba(55, 71, 76, 0.75);
    --font-text: 'Fragment Mono', monospace;
    --nav-height: 66px;
    --home-width: 85%;
    --transition: 350ms ease-out;
    --ham-width: 25px;
    --ham-height: 2px;
    --ham-gap: -6px;
    --app-height: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    width: 100svw;
    height: 100%;
    color: var(--text);
    background-color: var(--background);
    font-family: var(--font-text);
    line-height: 1.5;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

p{
    color: var(--text);
    margin: 0 0 1rem 0;
}

h3{
    color: var(--dark-text);
}

button{
    cursor: pointer;
    border: none;
}

/* Header */
.header-main{
    width: 100%;
    background-color: var(--background-trans);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;
    transition: var(--transition);
}

.header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.header-logo{
    /* height: 40.3333px;
    width: auto; */
}

.header-logo path{
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
}

.header-menu-container{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-button{
    display: none;
    height: 25px;
    width: 25px;
}

.header-ham{
    display: inline-block;
    position: relative;
    width: var(--ham-width);
    height: 24px;
}

.header-ham-middle::before,
.header-ham-middle::after,
.header-ham-middle{
    position: absolute;
    content: "";
    right: 0px;
    rotate: 360deg;
    width: var(--ham-width);
    height: var(--ham-height);
    background-color: var(--text);
    border-radius: 1px;
    transform-origin: center;
}

.header-ham-middle::before{
    top: var(--ham-gap);
    transition: 
    top var(--transition) 350ms,
    rotate var(--transition),
    background-color var(--transition) 350ms;
}

.header-ham-middle{
    top: 50%;
    transition: width 0s ease-out 350ms;
}

.header-ham-middle::after{
    bottom: var(--ham-gap);
    transition: 
    bottom var(--transition) 350ms,
    rotate var(--transition),
    background-color var(--transition) 350ms;
}


.header-menu-button[aria-expanded="true"] .header-ham-middle::before{
    top: 0;
    width: var(--ham-width);
    rotate: 45deg;
    background-color: var(--background);
    transition: 
    top var(--transition), 
    rotate var(--transition) 350ms,
    background-color var(--transition) 350ms;
}

.header-menu-button[aria-expanded="true"] .header-ham-middle{
    width: 0;
}

.header-menu-button[aria-expanded="true"] .header-ham-middle::after{
    bottom: 0;
    width: var(--ham-width);
    rotate: -45deg;
    background-color: var(--background);
    transition: 
    bottom var(--transition), 
    rotate var(--transition) 350ms,
    background-color var(--transition) 350ms;
}

.header-list{
    position: relative;
    display: flex;
    align-items: center;
}

.header-links{
    display: flex;
}

.header-link, .resume-button{
    position: relative;
    margin: 0 1.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--text);
    text-transform: uppercase;
}

.header-link:hover{
    color: var(--dark-text);
    transition: var(--transition);
}

.header-link:hover::after{
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    width: 0;
    border-bottom: 1.5px solid var(--dark-text);
    animation: underline 650ms linear forwards;
}

@keyframes underline {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.resume-button{
    border: 2.5px solid;
    border-radius: 5px;
    padding: 0.75rem 1rem;
}

.resume-button:hover{
    color: var(--dark-text);
    border: 2.5px solid var(--dark-text);
    transition: var(--transition);
}

.header-hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    transition: var(--transition);
}

.settings-button{
    cursor: pointer;
    color: var(--text);
    height: 27.45px;
    background: transparent;
    display: flex;
    align-items: center;
}

.settings-button:hover{
    color: var(--dark-text);
}

/* Preloader */
.preloader{
    width: 100vw;
    height: 100vh;
    height: 100svh;
    background-color: var(--text);
    overflow: hidden;
    animation: 600ms hide 2500ms linear;
}

@keyframes hide {
    100%{
        opacity: 0;
    }
}

.hide{
    display: none;
}

.preload-logo{
    width: 200px;
    height: 100%;
}

.preload-logo path{
    stroke: var(--background) ;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform-origin: center;
}

#logo-s{
    animation: draw 1.25s forwards, 
    800ms rotate 2200ms ease-in-out;
}

#logo-y{
    animation: draw 1s 1.25s forwards, 
    800ms rotate 2200ms ease-in-out;
}

@keyframes draw {
    100% {
        stroke-dasharray: 120;
        stroke-dashoffset: 0;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        scale: 0%;
        opacity: 0;
    }
}


/* Main */
section{
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
    justify-content: space-evenly;
}

.home-container{
    width: var(--home-width);
    opacity: 0;
    transform: translateY(50px);
}

.welcome-container{
    width: 100%;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: center;
    font-size: 1.2rem;
}

.welcome-heading{
    font-size: clamp(25px, 1vw, 80px);
    margin: 1rem 0;
}

.scroll-container{
    position: absolute;
    width: 100%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    animation: bounce 1500ms ease-in-out infinite;
}

.scroll-container span{
    margin-bottom: -10px;
}

.scroll-container svg{
    margin: auto;
}

@keyframes bounce {
    50%{
        transform: translateY(10px);
    }
}

#about, #experience, #contact{
    display: flex;
    flex-direction: column;
    padding: var(--nav-height) 0;
}

.heading{
    /* color: var(--dark-text); */
    position: relative !important;
}

.heading::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 2.5px;
    background: var(--dark-text);
    inset: auto 0 0 0;
    margin: auto;
}

.about-container{
    max-width: 1000px;
    width: 100%;
    display: flex;
    /* border: 1px solid; */
}

.about-main{
    text-align: left;
    letter-spacing: 1px;
    /* border: 1px solid; */
}

.about-skills-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));;
    padding: 0px;
}

.about-skills-list li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}

.about-skills-list li::before{
    position: absolute;
    content: "⫸";
    color: var(--dark-text);
    left: 0px;
}

.about-pic{
    margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid; */
}

.about-pic img{
    width: clamp(250px, 50vw, 350px);
    border-radius: 100%;
    background-color: var(--dark-text-trans);
    box-shadow: 0 0 10px var(--dark-text);
}

.experience-main{
    max-width: 1000px;
    width: 100%;
}

.experience-tab {
    overflow: hidden;
    background-color: var(--dark-text-trans);
    box-shadow: 0 1px 10px var(--dark-text);
  }

.experience-tab button {
    background-color: transparent;
    color: var(--background-trans);
    font-size: 1.2rem;
    float: left;
    outline: none;
    padding: 14px 16px;
    transition: var(--transition);
}

.experience-tab button.active {
    color: rgba(189, 209, 197, 0.75);

    background-color: var(--dark-text);
}

.experience-tabcontent {
    margin-top: 10px;
    padding: 6px 12px;
    text-align: left;
    letter-spacing: 1px;
}

.experience-tabcontent p{
    color: var(--dark-text-trans);
}

.experience-tabcontent ul{
    padding: 0px;
}

.experience-tabcontent ul li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.experience-tabcontent ul li::before{
    position: absolute;
    content: "⫸";
    color: var(--dark-text);
    left: 0px;
}

.contact-main{
    background-color: var(--dark-text-trans);
    box-sizing: content-box;
    max-width: 750px;
    max-height: 1500px;
    width: 80%;
    text-align: center;
    padding: 1.75rem;
    box-shadow: 0 1px 10px var(--dark-text);
}

.contact-form-content{
    display: flex;
    flex-direction: column;
}

.contact-form-label{
    text-align: left;
    font-weight: bolder;
    color: var(--background);
}

.contact-form-input{
    background-color: var(--background-trans);
    border: none;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--dark-text-trans);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--dark-text-trans);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--dark-text-trans);
}

.contact-form-input:focus{
    outline: none !important;
    box-shadow: inset 0 0 0 3px var(--dark-text);
    -webkit-appearance: none;
}

textarea{
    resize: none;
}

.contact-submit-button{
    width: 100%;
    background-color: var(--background);
    color: var(--dark-text-trans);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 0rem;
    border-radius: 5px;
}

.contact-submit-button:hover{
    box-shadow: inset 0 0 0 3px var(--dark-text);
}

/* Footer */
footer{
    background-color: var(--text);
    color: var(--background);
}

footer a, footer h1, footer p, #copyright{
    color: var(--background);
    font-weight:100;
}

.footer-container{
    width: 95vw;
    margin: auto;
}

.upper-footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 10px;
}

.lower-footer{
    border-top: 1px solid var(--background);
    padding: 1rem;
    text-align: center;
    margin: auto;
}

.subfooter{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social{
    overflow: visible !important;
}

.social a{
    margin-right: 0.5rem;
}

.social-logo-svg{
    stroke: var(--background);
    fill: var(--background);
    stroke-width: 80;
    stroke-opacity: 0;
    transition: var(--transition);
}

.social-logo-svg:hover{
    transform: translateY(-25px);
    fill: var(--dark-text);
}

/* mobile view */
@media only screen and (max-width: 850px){
    
    body[aria-expanded="true"]{
        overflow: hidden;
    }   

    .logo{
        width: 25vw;
    }

    .header-menu-button{
        display: block;
        z-index: 9999;
        border: 0; 
        background: transparent;
    }

    .header-list{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: min(65vw, 400px);
        height: 100vh;
        height: 100svh;
        background: var(--text);
        transform: translateX(100%);
        transition: var(--transition);
    }
    
    .header-list[data-visible="true"]{
        box-shadow: 0 1px 100px var(--dark-text);
        transform: translateX(0%);
    }
    
    #home[aria-expanded="true"]{
        filter: blur(5px);
        transition: var(--transition);
    }

    .header-links{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 0px;
    }
    
    .header-links a{
        color: var(--background);
    }

    .header-links li{
        margin: 0px auto 15px;
    }

    .header-links #resume{
        border: 2.5px solid var(--background);
    }

    .header-links #resume:hover{
        color: var(--dark-text);
        border: 2.5px solid var(--dark-text);
        transition: var(--transition);
    }

    .settings-button-container{
        position: absolute;
        inset: 0.5rem 0 0 1.5rem;
    }
    
    .settings-button{
        color: var(--background);
    }

    .about-container{
        display: block;
    }

    .about-skills-list{
        grid-template-columns: repeat(2, minmax(130px, 200px));;
    }

    .about-pic img{
        margin-top: 1.5rem;
    }    

    .upper-footer {
        display: block;
    }
}


@media only screen and (max-width: 280px){

    .about-skills-list{
        grid-template-columns: repeat(1, minmax(130px, 200px));;
    }

}

/* scroll animation */
.scrolled{
    animation: scroll-up 2.5s forwards;
}

@keyframes scroll-up {
    /* 0%{
        opacity: 0;
        transform: translateY(50px);
    } */
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}